/.vscode
/A+mode.exe
/B+mode.exe
/Decimal_to_binary.exe
/example_r+.txt
/fibonacci.exe
/filemanagement.exe
/game.exe
/Largest_element_in_array.exe
/max_in_array.exe
/multiplicationOfMatrix.exe
/Pallindrome.exe
/Practrice.c
/Practrice.exe
/prime_number.exe
/R+mode.exe
/Sum_of_n_numbers.exe
/W+mode.exe